<div class="container-fluid">
	<%= render 'layouts/titleArt' %>
</div>

<div class="container-fluid">
	<%= render 'layouts/addressDiv' %>
	<div class="center hero-unit">
		<p class="opening">Are you new to running?</p>
		<p class="opening">Want to take your running to the next level?<p>
		<p class="opening">Looking for a new running challenge? (maybe a half or full marathon)</p>
		<p class="opening">Perhaps your trying to improve your running performance times/set a new PR?</p>
		<h3> Next Level Distance Running can help you achieve these goals!</h3>
	</div>
	<div class="row-fluid">
		
		<div class="span4">
			<p class="sectionHeadings">My Training Philosophy</p>
		
			<p>As your trainer, my goal is to assist you in accomplishing your goals as a long distance runner.  
				I wish to provide you with the habits to 
				maintain good health and a high quality of life.
			</p>

			<p> An individual's training program should be a process that can be enjoyed and also provide
       			the preparation needed to complete a targeted event.  The key to achieving 
				your goals as a long distance runner is to focus on the training process.  I will 
				provide you with an educational and positive training experience that will keep 
				you participating.
			</p>
		</div>
		
		<div class="span4">
			<%= image_tag("Marathon_training_stairs01.jpg", :id=> "stairRunner") %>
			<p id="homeCaption">Photo by Jeff Miller, 2001     © Board of Regents of the 
				University of Wisconsin System
			</p>
		</div>

	
		<div class="span4">
			<p class="sectionHeadings">Why You Should Choose Next Level Distance Running</p>
			<p>Why might you need a trainer?</p>
			<p>How can a trainer help you?</p>
			<p>What a trainer can do for you</p>
			<p>Invest in yourself!  Your time commitment and race entry fee, especially for a 
				half or full marathon, are significant. You want to get the most out of your 
				investment to have a positive race experience and achieve your goals.
			</p>
			<p>With Next Level Distance Running, you will receive training services from an 
				experienced, successful distance running coach.  For more information on Ronnie
				Carda please visit the<strong><%= link_to "  About The Trainer",    about_path %></strong>
				page.
			</p>

			<ul>
      				<li>Training individuals for running events for many years</li>
      	  			<li>Successful training experience for runners of all ages, abilities, and goals</li>
      	  			<li>Successfully trained individuals through direct contact meetings and online training processes</li>
      	  			<li>Personalized training programs designed to meet your individual needs</li>
      	  			<li>Educational information provided allows for a greater understanding of why you are 
  	     	      	     	      doing what you are doing in your training</li>
			</ul>
		</div>
	
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
	<h3>Packages Offered</h3>
		<ul>
			<li class="label label-success">Online Training Program</li>
		<ul>
			<li>The Online Training Package is an excellent choice for runners seeking to reach 
				the next level on their own.  This package offers great videos and power points 
				that help you learn about preparing yourself for any event.  You will 
				communicate with the trainer weekly to coordinate a plan and adjust it as 
				needed.  <strong><%= link_to "  Click here",    training_programs_path %></strong>
			       to get all of the details of this package and the pricing.
			 </li>
				  			  
  		</ul>
	       <br />
    			<li class="label label-success">Face to Face Training Program</li>
      		<ul>
			<li>This is the best training package to optimize your effort with your trainer and to stay on
				course with your training plan.  In addition to all of the benefits of the Online
				Training Package, the Face to Face Training Package also includes one on one 
				time with the trainer during your weekly meeting, and your weekly 
				communication session online.
				<strong><%= link_to "  Click here",    training_programs_path %></strong>
		      	  	for more information regarding the Face to Face Training Package.
			</li>
       	</ul>
		</ul>
	</div>
</div>


